.footer {
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.contato-footer {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.social {
    bottom: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h4 {
    font-size: 1rem;
    padding-bottom: 0.7rem;
}

.btn-icons {
    margin-top: 30px;
    position: relative;
}